{% extends 'restaurant/base.html' %}

{% block content %}
<div>
    <p>Thank you for your order at Max's Restaurant!</p>
    <p><strong>Your order will be ready at: {{time_ready}}</strong></p>

    <p>Your order is confirmed:</p>
    {% for name, price in ordered %}
        <p>{{name}} - ${{price}}</p>
    {% endfor %}

    <p>Special instructions:</p>
    <p>{{instructions}}</p>

    <p><strong>Total: ${{total}}</strong></p>

    <p>Customer information:</p>
    <p>{{name}}<br>{{phone}}<br>{{email}}</p>
</div>

{% endblock %}