<!-- File: confirmation.html -->
<!-- Author: Gab Alingog (galingog@bu.edu), 9/22/2026 -->
<!-- Description: Contains the confirmation receipt of the order -->

{% extends 'restaurant/base.html' %}

{% block content %}
<div>
    <h1>Thank you for your order!</h1>
    <div class="inside">
        <p><strong>Your order will be ready at: {{time_ready}}</strong></p>

        <p>Your order is confirmed:</p>
        {% for name, price in ordered %}
            <p>{{name}} - ${{price}}</p>
        {% endfor %}

        <p>Special instructions:</p>
        <p>{{instructions}}</p>

        <p><strong>Total: ${{total}}</strong></p>

        <p><strong>Customer information:</strong></p>
        <p>{{name}}<br>{{phone}}<br>{{email}}</p>
    </div>
    
</div>

{% endblock %}