<!-- File: main.html -->
<!-- Author: Gab Alingog (galingog@bu.edu), 9/22/2026 -->
<!-- Description: Contains the welcome page, hours, and about the restaurant section -->

{% extends 'restaurant/base.html' %}

{% block content %}
<div class="main">
    <h1>Welcome to Max's Restaurant!</h1>
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/95/b9/b8/caption.jpg?w=1200&h=1200&s=1" alt="Restaurant image">
    <p>The most authentic Filipino restaurant in Boston</p>
    <p>10 Buick St, Boston, MA 02215</p>
    <div class="bottom">
        <div class="hours">
            <h2>Hours:</h2>
            <ul>
                <li>Monday: 8:00 - 10:00 PM</li>
                <li>Tuesday: 8:00 - 10:00 PM</li>
                <li>Wednesday: 8:00 - 10:00 PM</li>
                <li>Thursday: 8:00 - 10:00 PM</li>
                <li>Friday: 8:00 - 10:00 PM</li>
                <li>Saturday: 10:00 - 8:00 PM</li>
                <li>Sunday: Closed</li>
            </ul>
        </div>
        <div class="about">
            <p>Max's Restaurant is one of the leading Filipino chain restaurants in the Philippines. It has expanded to the United States in California, New Jersey, and many more.
                Fortunately, our first expansion in Massachusetts is opening soon! Come try Filipino dishes in the heart of Commonwealth Avenue.
            </p>
        </div>
    </div>
    
    
</div>

{% endblock %}