{% extends 'blog/base.html' %}
{% block content %}

<!-- <h1>Showing all Articles</h1> -->
<!-- scriptlet code to display the value of the variable `Articles`  -->
<!-- {{ articles }} -->

<h1>Showing all Articles</h1>
<!-- scriptlet code to display the value of the variable `articles` 
{{ articles }}
-->
<main class="grid-container">
    {% for a in articles %}
    <article>
		<div>
			<h2>{{a.title}}</h2>
			<h3>by {{a.author}} at {{a.published}}</h3>
			<p>
			{{a.text}}
			</p>
		</div>
		<a href="{% url 'article' a.pk %}">
			<!-- <img src="{{ a.image_url }}" alt="picture"> -->
			{% if a.image_file %}
				<img src="{{ a.image_file.url }}" alt="picture">
			{% else %}
				<h3>No image</h3>
			{% endif %}
		</a>
		
    </article>
 
 
    {% endfor %}
</main>

{% endblock %}