body {
    margin: 0;
    padding: 0;
    font-family: arial;
    text-align: center;
}

nav {
    background-color: maroon;
    padding: 15px 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

img {
    border-radius: 20px;
    margin-bottom: 10px;
}

.main p {
    line-height: 8px;
}

.main ul {
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 30px;
    line-height: 25px;
}