{% extends 'quotes/base.html' %}

{% block content %}
    <div class="about-page">
        <h1>Who is Spider-Man</h1>
        <p class="short-bio">The "friendly neighborhood" Spider-Man is a fictional superhero that resides in 
            Queens, New York City. His alias is "Peter Parker", who was a high school student
            bitten by a radioactive spider. Throughout the films' franchise, there are 3 actors
            who have famously played Spider-Man. They are Tobey Maguire, Andrew Garfield, and 
            Tom Holland; all of which are shown in this website, in supersuit or without.
        </p>

        <h1>Author's Note</h1>
        <p class="short-bio">My name is Gab Alingog and I am a junior in Boston University studying Computer Science
            and Mathematics. I am from both the Philippines and California, however I spent this summer
            working and studying in Boston. Hence, within the one month that I returned home to my family,
            one of my favorite memories is watching Spider-Man: Brand New Day in 3D with them. I have long
            been a fan of Iron Man, hence Spider-Man holds a special place in my reverence for the franchise.
        </p>
    </div>
{% endblock %}