<!-- File: base.html -->
<!-- Author: Gab Alingog (galingog@bu.edu), 9/14/2026 -->
<!-- Description: Contains the base html code and the nav bar -->

{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'quotes_style.css' %}">
    </head>
    <body>
        <!-- Header navigation between three pages -->
        <nav>
            <div class="nav-title"><strong>SPIDERMAN QUOTES</strong></div>
            <ul>
                <li><a href='{% url "main" %}'>Home</a></li>
                <li><a href='{% url "show_all" %}'>Show All</a></li>
                <li><a href='{% url "about" %}'>About</a></li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>