<!-- File: mini_insta/templates/mini_insta/base.html
Author: Gab Alingog (galingog@bu.edu), 10/07/2026
Description: Contains the base html code -->

{% load static %}

<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'insta_styles.css' %}">
    </head>

    <body>
        <div class="header">
            <h1>MiniInsta: {% block header %}{% endblock %}</h1>
        </div>

        {% block content %}
        {% endblock content %}

        <div class="footer">
            <a href="{% url 'show_all_profiles' %}" title="Show all profiles">
                <img class="home-icon" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=original">
            </a>
            {% if profile %}
            <a href="{% url 'create_post' profile.pk %}"><strong>Create Post</strong></a>
            {% endif %}
            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>