<!-- File: mini_insta/templates/mini_insta/create_post_form.html
Author: Gab Alingog (galingog@bu.edu), 10/07/2026
Description: Form to create a new post for a profile -->

{% extends 'mini_insta/base.html' %}

{% block header %}
<h1>Create post for @{{profile.username}}</h1>
{% endblock %}

{% block content %}
<div class="main">
    <div class="inside">
        <form action="{% url 'create_post' profile.pk %}" method="POST" 
        enctype="multipart/form-data">
            {% csrf_token %}
    
            <p><strong>Caption:</strong></p>
            <textarea
                name="caption"
                placeholder="Type here..."
            ></textarea>

            <!-- Old instructions -->
            <!-- <p><strong>Image URL:</strong></p>
            <input type="text" name="image_url" placeholder="Insert here..."> -->

            <input type="file" name="files" accept="image/*" multiple>
    
            <br><br>
            <input type="Submit" value="Create Post">
            <a href="{% url 'show_profile' profile.pk %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}